html{font-size:18px;}
@media(min-device-width:320px){html{font-size:18px;}}
@media(min-device-width:360px){html{font-size:20.25px;}}
@media(min-device-width:375px){html{font-size:21.1px;}}
@media(min-device-width:384px){html{font-size:21.6px;}}
@media(min-device-width:400px){html{font-size:22.5px;}}
@media(min-device-width:412px){html{font-size:23.17px;}}
@media(min-device-width:414px){html{font-size:23.3px;}}
@media(min-device-width:480px){html{font-size:26.99px;}}
@media(min-device-width:533px){html{font-size:29.98px;}}
@media(min-device-width:568px){html{font-size:31.95px;}}
@media(min-device-width:600px){html{font-size:33.74px;}}
@media(min-device-width:640px){html{font-size:24px;}}

.dossen-arrow {
    position:relative;
    &:after {
	    content: ' ';
	    position: absolute;
	    top: 50%;
	    right:5%;
	    width:8px;
	    height:8px;
	    border:1px solid;
	    border-bottom: 0;
	    border-right: 0;
	    margin-top: -4px;
	    color: #ccc;
	    -webkit-transform: rotateZ(135deg);
	    transform: rotateZ(135deg)
	}
}
